<div class="row justify-content-md-center">
  <div class="col col-lg-2 py-5">
    <% @user_chatrooms.each do |chatroom| %>
        <div class="info-chatroom">
          <p class="px-2">
            <% if current_user == chatroom.sender %>
              <a href=<%= chatroom_path(id: chatroom.id)%>>
                <% if User.find(chatroom.receiver.id).profile_picture.attached? %>
                  <%= cl_image_tag User.find(chatroom.receiver.id).profile_picture.key, class: "avatar-large" %>
                <% else %>
                  <%= image_tag "no-profile-picture.jpg", class: "avatar-large" %>
                <% end %>
                <%= User.find(chatroom.receiver.id).nickname %>
              </a>
          </p>
            <% else %>
              <p class="px-2">
              <a href=<%= user_path(id: chatroom.sender_id)%>>
                <% if User.find(chatroom.sender.id).profile_picture.attached? %>
                  <%= cl_image_tag User.find(chatroom.sender.id).profile_picture.key, class: "avatar-large" %>              <% else %>
                  <%= image_tag "no-profile-picture.jpg", class: "avatar-large" %>
                <% end %>
                <%= User.find(chatroom.sender.id).nickname %>
              </a>
              </p>
            <% end %>
        </div>
    <% end %>
  </div>

  <div class="col col-lg-10 chatroom">
    <h2 class="pt-2 px-2">
      <% if current_user == @chatroom.sender %>
        <% if User.find(@chatroom.receiver.id).profile_picture.attached? %>
          <%= cl_image_tag User.find(@chatroom.receiver.id).profile_picture.key, class: "avatar-large" %>
        <% else %>
          <%= image_tag "no-profile-picture.jpg", class: "avatar-large" %>
        <% end %>
        <small class="px-2"> <%= User.find(@chatroom.receiver.id).nickname %> </small>
      <% else %>
        <% if User.find(@chatroom.sender.id).profile_picture.attached? %>
          <%= cl_image_tag User.find(@chatroom.sender.id).profile_picture.key, class: "avatar-large" %>
        <% else %>
          <%= image_tag "no-profile-picture.jpg", class: "avatar-large" %>
        <% end %>
        <small class="px-2"> <%= User.find(@chatroom.sender.id).nickname %> </small>
      <% end %>
    </h2>

    <div class="messages">
      <% last_date = nil %>
      <% last_time = nil %>
      <% @chatroom.messages.each do |message| %>
        <% if message.private_message.length > 0 && message.user == @current_user %>
          <div style="text-align: right; padding: 2px;" id="message-<%= message.id %>">
            <% if last_date.nil? || message.created_at.to_date != last_date %>
              <div class="text-center">
                <small class="text-center"><i><strong><%= message.created_at.strftime("%A %-d %B %Y") %></strong></i></small>
              </div>
              <br>
              <% last_date = message.created_at.to_date %>
            <% end %>
            <% if last_time.nil? || message.created_at.strftime("%H:%M") != last_time %>
              <small><i><%= message.created_at.strftime("%H:%M") %></i></small><br>
              <% last_time = message.created_at.strftime("%H:%M") %>
            <% end %>
            <div class="speech-bubble-sender">
              <div>
                <p><%= message.private_message %></p>
              </div>
            </div>
          </div>
        <% elsif message.user != @current_user && message.private_message.length > 0 %>
          <div style="text-align: left; padding: 2px;" id="message-<%= message.id %>">
            <% if last_date.nil? || message.created_at.to_date != last_date %>
              <div class="text-center">
                <small><i><strong><%= message.created_at.strftime("%A %-d %B %Y") %></strong></i></small><br>
              </div>
              <% last_date = message.created_at.to_date %>
            <% end %>
            <% if last_time.nil? || message.created_at.strftime("%H:%M") != last_time %>
              <small><i><%= message.created_at.strftime("%H:%M") %></i></small><br>
              <% last_time = message.created_at.strftime("%H:%M") %>
            <% end %>
            <div class="speech-bubble-receiver">
              <div>
                <p><%= message.private_message %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= simple_form_for [@chatroom, @message], html: {class: "d-flex"} do |f| %>
      <div class="flex-grow-1">
        <%= f.input :private_message,
                    label: false,
                    placeholder: "Message...",
                    wrapper_html: {class: "px-2"},
                    input_html: {rows: 5, style: "resize: both; overflow-wrap: break-word; word-wrap: break-word;"}
        %>
      </div>
      <%= f.submit "Send", class: "btn btn-primary mb-3 green-button mx-2" %>
    <% end %>
  </div>
</div>
