<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @users.each do |user|%>
      <div class="col">
        <div class="card card-bands">
          <a href="<%= user_path(user) %>" class="link">
            <div class="box-image">
              <% if user.profile_picture.present? %>
                <div class="background-image" style="background-image: url('<%= cl_image_path(user.profile_picture.key, :effect=>"blur:200") %>');"></div>
              <% else %>
                <div class="background-image" style="background-image: url('<%= image_path("no-profile-picture.jpg", :effect=>"blur:200") %>');"></div>
              <% end %>
              <% if user.profile_picture.attached? %>
                <%= cl_image_tag user.profile_picture.key, class: "mh-100 image-card" %>
              <% else %>
                <%= image_tag "no-profile-picture.jpg", class: "mh-100 image-card" %>
              <% end %>
            </div>
            <div class="card-body">
              <p class="card-title"><%= user.nickname %></p>
              <p class="card-text"><%= user.description %></p>
              <% unless user.skills.empty? %>
                <span class="postcard__tagbox">
                  <%= image_tag("icon-band.png", style:"height: 31px; width: 31px;") %> &nbsp;
                  <% user.skills.each do |u| %>
                    <span class="tag__item"><%= u.skill %></span>
                  <% end %>
                </span>
                <br>
              <% end %>
              <% unless user.styles.empty? %>
                <span class="postcard__tagbox">
                  <%= image_tag("icon-music.png", style:"height: 31px; width: 31px;") %> &nbsp;
                  <% user.styles.each do |u| %>
                    <span class="tag__item"><%= u.style %></span>
                  <% end %>
                </span>
              <% end %>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
