<%# imagen, podria ser un carrusel (?) %>
<%= image_tag "homepage-1.jpg", alt:"homepage-1", class:"homepage_image" %>
<%# Texto, podria ser mas lindo usando esto: https://mattboldt.com/demos/typed-js/  https://kitt.lewagon.com/camps/1098/lectures/05-Rails%2F04-Rails-mister-cocktail#source %>
<div class="hometext-left">
  <span class="hometext-yellow">Connect with</span>
  <span class="hometext-white">musicians</span>
</div>
<div class="hometext-right">
  <span class="hometext-white">Create with</span>
  <span class="hometext-yellow">passion!</span>
</div>
<%# tarjetas de las bandas %>
<br><br>
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">
        <span class="hometext-green">Welcome to</span>
        <span class="hometext-yellow">La Musique</span></h1>
      <p class="text-center">La Musique is a platform for musicians to connect and collaborate with each other. Whether you are a singer, a guitarist, a drummer, a pianist, a composer, a producer, or a music lover, you are welcome to join us!</p>
    </div>
  </div>

<div class="container">
  <div class="body-left">
    <span class="hometext-yellow">Connect with</span>
    <span class="hometext-green">new bands</span>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% Band.all.sample.each do |band|%>
      <div class="col">
        <a href="<%= user_band_path(id: band.id, user_id: band.user_id) %>"class="link">
          <div class="card card-bands">
              <div class="box-image">
                <% if band.multimedia.first.present? %>
                  <div class="background-image" style="background-image: url('<%= cl_image_path(band.multimedia.first.key, :effect=>"blur:200") %>');"></div>
                <% else %>
                  <div class="background-image" style="background-image: url('<%= image_path("no-image.png", :effect=>"blur:200") %>');"></div>
                <% end %>
                <% if band.multimedia.attached? %>
                  <%= cl_image_tag band.multimedia.first.key, class: "image-card" %>
                <% else %>
                  <%= image_tag "no-image.png", class: "mh-100 image-card", style: "background-size: fill;" %>
                <% end %>
              </div>
              <div class="card-body">
                <h4 style="margin-top: 5px;" ><strong><%= band.band_name %></strong></h4>
                <p class="card-text"> <%= truncate(band.content, length: 260) %> </p>
              </div>

          </div>
        </a>
      </div>
    <% end %>
  </div>

  <div class="body-right">
    <span class="hometext-green">Looking for</span>
    <span class="hometext-yellow">passion</span>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% User.all.sample(3).each do |user|%>
      <div class="col">
        <div class="card card-bands">
          <a href="<%= user_path(user) %>" class="link">
            <div class="box-image">
              <% if user.profile_picture.present? %>
                <div class="background-image" style="background-image: url('<%= cl_image_path(user.profile_picture.key, :effect=>"blur:200") %>');"></div>
              <% else %>
                <div class="background-image" style="background-image: url('<%= image_path("no-profile-picture.jpg", :effect=>"blur:200") %>');"></div>
              <% end %>
              <% if user.profile_picture.attached? %>
                <%= cl_image_tag user.profile_picture.key, class: "mh-100 image-card" %>
              <% else %>
                <%= image_tag "no-profile-picture.jpg", class: "mh-100 image-card" %>
              <% end %>
            </div>
            <div class="card-body">
              <h4 style="margin-top: 5px;" ><strong><%= user.nickname %></strong></h4>
              <p class="card-text"> <%= user.description %> </p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "View all profiles", users_path  %>
</div>
