<%# imagen, podria ser un carrusel (?) %>
<%= image_tag "homepage-1.jpg", alt:"homepage-1", class:"homepage_image" %>

<%# text-homepage %>
<span data-controller="typed-js"></span>

<div class="container py-4">
  <%# band-text %>
  <div class="body-left pt-4">
    <span class="hometext-yellow">Connect with</span>
    <span class="hometext-green">new bands</span>
  </div>
  <%# band-cards %>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% Band.all.sample(3).each do |band|%>
      <div class="col">
        <a href="<%= user_band_path(id: band.id, user_id: band.user_id) %>"class="link">
          <div class="card card-bands">
            <div class="box-image">
              <% if band.multimedia.first.present? %>
                <div class="background-image" style="background-image: url('<%= cl_image_path(band.multimedia.first.key, :effect=>"blur:200") %>');"></div>
              <% else %>
                <div class="background-image" style="background-image: url('<%= image_path("no-image.png", :effect=>"blur:200") %>');"></div>
              <% end %>
              <% if band.multimedia.attached? %>
                <%= cl_image_tag band.multimedia.first.key, class: "image-card" %>
              <% else %>
                <%= image_tag "no-image.png", class: "mh-100 image-card", style: "background-size: fill;" %>
              <% end %>
            </div>
            <div class="card-body">
              <p class="card-title"><%= band.band_name %></p>
              <p class="card-text-band"><%= band.content %></p>
              <% unless band.styles.empty? %>
                <span class="postcard__tagbox">
                  <%= image_tag("icon-music.png", style:"height: 31px; width: 31px;") %>&nbsp;
                  <% band.styles.each do |b| %>
                    <span class="tag__item"><%= b.style %></span>
                  <% end %>
                </span>
              <% end %>
            </div>
  	      </div>
        </a>
      </div>
    <% end %>
  </div>
  <div class="body-right pt-1">
    <% if user_signed_in? %>
      <span class="link-text"><%= link_to "All bands", user_bands_url(user_id: @user.id) %></span>
    <% end %>
  </div>
  <%# user-text %>
  <div class="body-left pt-4">
    <span class="hometext-green">Looking for</span>
    <span class="hometext-yellow">passion</span>
  </div>
  <%# user-cards %>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% User.all.sample(3).each do |user|%>
      <div class="col">
        <div class="card card-bands">
          <a href="<%= user_path(user) %>" class="link">
            <div class="box-image">
              <% if user.profile_picture.present? %>
                <div class="background-image" style="background-image: url('<%= cl_image_path(user.profile_picture.key, :effect=>"blur:200") %>');"></div>
              <% else %>
                <div class="background-image" style="background-image: url('<%= image_path("no-profile-picture.jpg", :effect=>"blur:200") %>');"></div>
              <% end %>
              <% if user.profile_picture.attached? %>
                <%= cl_image_tag user.profile_picture.key, class: "mh-100 image-card" %>
              <% else %>
                <%= image_tag "no-profile-picture.jpg", class: "mh-100 image-card" %>
              <% end %>
            </div>
            <div class="card-body">
              <p class="card-title"><%= user.nickname %></p>
              <p class="card-text"><%= user.description %></p>
              <% unless user.skills.empty? %>
                <span class="postcard__tagbox">
                  <%= image_tag("icon-band.png", style:"height: 31px; width: 31px;") %>&nbsp;
                  <% user.skills.each do |u| %>
                    <span class="tag__item"><%= u.skill %></span>
                  <% end %>
                </span>
                <br>
              <% end %>
              <% unless user.styles.empty? %>
                <span class="postcard__tagbox">
                  <%= image_tag("icon-music.png", style:"height: 31px; width: 31px;") %>&nbsp;
                  <% user.styles.each do |u| %>
                    <span class="tag__item"><%= u.style %></span>
                  <% end %>
                </span>
              <% end %>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="body-right pt-1">
    <% if user_signed_in? %>
      <span class="link-text"><%= link_to "All profiles", users_path %></span>
    <% end %>
  </div>

  <%# about-us %>
  <div class="body-left pt-4 mt-3">
    <span class="hometext-green">About&nbsp;</span>
    <span class="hometext-yellow">La Musique</span>
  </div>
  <div calss="container py-3">
    <p class="home-text">
      La Musique is a global community for musicians to connect, collaborate and share their passion. Join for free to access resources and opportunities, form bands, showcase your music, and collaborate on projects with fellow musicians. All music enthusiasts are welcome!
    </p>
  </div>
</div>
