<h1>this is the bands index page</h1>

<div>
  <% @bands.each do |band| %>

  <a href= <%= user_band_path(user_id: band.user_id, id: band.id) %> style="text-decoration: none, color: inherit">
    <div class="card" style="width: 10rem;">
      <div class="card-body">
      <%# <%= link_to 'band.band_name', user_band_path %>
      <p class="card-title"><%= band.band_name %></p>
      <p><%= band.band_style %></p>
      <p><%= band.looking_for_member %></p>
      <p><%= band.experience %></p>
      <p><%= band.content %></p>
      <p><%= band.city %></p>
      </div>
    </div>
  </a>

  <% end %>
</div>

<%= link_to "View your profile", user_path(id: @user) %>
