<div class="d-flex">
  <div class="card" style="width: 50%;">
    <div class="card-body">
    <p class="card-title"><%= @band.band_name %></p>
    <p><%= @band.band_style %></p>
    <p><%= @band.looking_for_member %></p>
    <% @band.multimedia.each do |photo| %>
      <%= cl_image_tag photo.key %>
    <% end %>
    <p><%= @band.experience %></p>
    <p><%= @band.content %></p>
    <p><%= @band.city %></p>
    <p><%= @band.user_id %></p>
    </div>
  </div>


  <div class="card" style="width: 50%;">
    <%= render "band_members/band_members", band_members: @band_members %>
  </div>
</div>
<div class=" container">
  <div class="card" style="width: 50%;">
    <% if @current_user.id ==  @band.user_id%>
      <h3><%= link_to "Edit this band", edit_user_band_path(user_id: @band.user_id, id: @band.id) %></h3>
      <h3><%= link_to "Delete this band", user_band_path(user_id: @band.user_id, id: @band.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete it?" } %></h3>
    <% else %>
      <h3><%= button_to "Join this band create", user_band_band_members_path(user_id: @band.user_id, band_id: @band.id), method: :post%></h3>
    <% end %>
  </div>
  <%= link_to "Go back to your profile", user_path(id: @owner) %>
</div>
