<div class="row gutters-sm">
  <h1 class="postcard__title text-center"><%= @band.band_name %> band</h1>
  <div class="col-md-8 my-3">
    <div class="card mb-3 bordered">
      <div class="card-body light bordered">
        <div class="row">
            <%= render "band_carrousel" %>
          </div>
        </div>
      </div>
    </div>
  <div class="col-md-4 my-3">
    <div class="card bordered">
      <div class="card-body light bordered">
      <h4 class="text-center">Manager of the band 😎</h4>
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="d-flex flex-column align-items-center">
            <span class="fs-5 mb-3 text-center"><%= @user.full_name %> <%= @user.nickname %></span>
            <span class="fs-6 text-center"><strong><%= @user.skills %></strong> | <%= @user.style %></span>
          </div>
        </div>
        <div class="col-md-6 text-md-end">
          <% if @user.profile_picture.attached? %>
            <%= cl_image_tag @user.profile_picture.key, class:"avatar-square" %>
          <% else %>
            <%= image_tag "no-profile-picture.jpg", class:"avatar-square" %>
          <% end %>
        </div>
      </div>
        <div class="d-flex flex-column align-items-center text-center">
          <div class="mt-3">
            <% if @user == current_user %>
              <%# this function is just hidding the button to any other user, with the url is still accesible %>
              <%= link_to "Edit this band", edit_user_band_path(user_id: @band.user_id, id: @band.id), class:"btn btn-primary mx-2" %>
              <%= link_to "Create your band", new_user_band_path(user_id: @user.id), class:"btn btn-primary mx-2" %>
              <%= link_to "Delete this band", user_band_path(user_id: @band.user_id, id: @band.id), class:"btn btn-danger mx-2 my-2 btn-sm", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete it?" } %>
            <% end %>
            <% if @user != current_user %>
              <%= link_to "Join to this band", new_user_band_band_member_path(user_id: @band.user_id, band_id: @band.id), method: :post, class:"btn btn-primary mx-2" %>
              <% if @chatroom.nil? %>
                <%= link_to "Send a message", chatrooms_path(receiver: @user), data: { turbo_method: "post" }, class:"btn btn-primary mx-2" %>
              <% else %>
                <%= link_to "Send a message", @chatroom, class:"btn btn-primary mx-2" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3 bordered">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap light bordered-top">
          <% if @band.looking_for_member %>
            <i class="my-2 fa fa-check-square fa-lg"></i>
            <span class="font-size-sm fw-semibold", style="color: #007A78;">We are looking for you!</span>
          <% else %>
            <i class="my-2 fa fa-window-close fa-lg"></i>
            <span class="font-size-sm text-danger">Sorry, our band is full 🙁</span>
          <% end %>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap light">
          <i class="my-2 fa fa-user-plus fa-lg"></i>
          <span class="text-secondary"> <%= @band.experience %> of experience</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap light">
          <i class="my-2 fa fa-music fa-lg"></i>
          <span class="text-secondary"><%= @band.band_style %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap light">
          <i class="my-2 fa fa-map-marker fa-lg"></i>
          <span class="text-secondary"><%= @band.city %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap light bordered-bottom">
          <span class="text-secondary"><%= @band.content %></span>
        </li>
      </ul>
    </div>
  </div>
</div>
