<!DOCTYPE html>
<html style="height: 100%; ">
  <head>
    <title>La Musique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="overflow-x: hidden; min-height: 100vh; display: flex; flex-direction: column;">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="<%= params[:action] == 'home' ? '' : 'container mt-3 home-page' %>">
      <%= yield %>
    </div>
    <br>
  </body>
  <footer style="margin-top: auto;">
      <%= render 'shared/footer' %>
  </footer>
</html>
